<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="com.accidental-fish.application-support.storage-account-connection-string" value="DefaultEndpointsProtocol=https;AccountName=accountname;AccountKey=accountket" />
    <add key="com.accidental-fish.application-support.setting.logger-queue" value="logger" />
    <add key="com.accidentalfish.log-queue-processor.storage-account-connection-string" value="DefaultEndpointsProtocol=https;AccountName=accountname;AccountKey=accountket" />
    <add key="com.accidentalfish.log-queue-processor.setting.logger-queue" value="logger" />
    <add key="com.accidentalfish.log-queue-processor.setting.logger-bydate-table" value="logbydate" />
    <add key="com.accidentalfish.log-queue-processor.setting.logger-bydate-desc-table" value="logbydatedesc" />
    <add key="com.accidentalfish.log-queue-processor.setting.logger-byseverity-table" value="logbyseverity" />
    <add key="com.accidentalfish.log-queue-processor.setting.logger-bysource-table" value="logbysource" />
    <add key="com.accidentalfish.log-queue-processor.setting.logger-bycorrelationid-table" value="logbycorrelationid" />
    <add key="com.accidentalfish.log-queue-processor.setting.realtime-settings-table" value="realtimesettings" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>