@{
    ViewBag.Title = "View by Severity";
}
<div>
    <ul class="nav nav-pills pull-right">
        <li>@Html.ActionLink("By Date", MVC.Log.ViewByDateDescending())</li>
        <li class ="active">@Html.ActionLink("By Severity", MVC.Log.ViewBySeverity())</li>
        <li>@Html.ActionLink("By Source", MVC.Log.ViewBySource())</li>
    </ul>
    <h2>View Logs</h2>
</div>
<div id="grid"></div>
@section scripts
{
    <script type="text/javascript">
        Handlebars.registerHelper('jsonDate', function(jsonDate) {
            return moment(jsonDate).format('L');
        });

        $(document).ready(function() {
            $("#grid").simplePagingGrid({
                cellTemplates: ['{{jsonDate LoggedAt}}', null, null, null],
                columnNames: ["Logged At", "Level", "Source", "Message"],
                columnKeys: ["LoggedAt", "Level", "Source", "Message"],
                columnWidths: ["20%", "20%", "30%", "30%"],
                dataUrl: '@Url.Action("GetBySeverity")',
                showLoadingOverlay: false
            });
        });
    </script>
}