
@{
    ViewBag.Title = "View by Date Descending";
}
<div>
    <ul class="nav nav-pills pull-right">
        <li class="active">@Html.ActionLink("By Date", MVC.Log.ViewByDateDescending())</li>
        <li>@Html.ActionLink("By Severity", MVC.Log.ViewBySeverity())</li>
        <li>@Html.ActionLink("By Source", MVC.Log.ViewBySource())</li>
    </ul>
    <h2>View Logs</h2>
</div>
<div id="grid"></div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $("#grid").simplePagingGrid({
                cellTemplates: ['{{jsonDate LoggedAt}} {{jsonTime LoggedAt}}', '{{logLevel Level}}', null, null],
                columnNames: ["Logged At", "Level", "Source", "Message"],
                columnKeys: ["LoggedAt", "Level", "Source", "Message"],
                columnWidths: ["20%", "20%", "30%", "30%"],
                dataUrl: '@Url.Action("GetByDateDescending")',
                showLoadingOverlay: false,
                useContinuationTokens: true
            });
        });
    </script>
}