@{
    ViewBag.Title = "About - Accidental Fish Operations Panel";
}
<h2>@ViewBag.Title.</h2>

<p>The operations panel provides administrative access to your applications backend systems and workflows.</p>
