<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="com.accidental-fish.application-support.storage-account-connection-string" value="UseDevelopmentStorage=true;" />
    <add key="com.accidental-fish.application-support.setting.logger-queue" value="logger" />
    <add key="com.accidental-fish.application-support.setting.realtime-settings-table" value="realtimesettings" />
    <add key="com.accidental-fish.email.storage-account-connection-string" value="UseDevelopmentStorage=true;" />
    <add key="com.accidental-fish.email.default-queue-name" value="email" />
    <add key="com.accidental-fish.email.default-blob-container-name" value="emailtemplates" />
    <add key="com.accidental-fish.email.setting.email-poison-queue" value="poisonemail" />
    <add key="com.accidentalfish.log-queue-processor.storage-account-connection-string" value="UseDevelopmentStorage=true;" />
    <add key="com.accidentalfish.log-queue-processor.setting.logger-queue" value="logger" />
    <add key="com.accidentalfish.log-queue-processor.setting.logger-bydate-table" value="logbydatedesc" />
    <add key="com.accidentalfish.log-queue-processor.setting.logger-byseverity-table" value="logbyseverity" />
    <add key="com.accidentalfish.log-queue-processor.setting.logger-bysource-table" value="logbysource" />
    <add key="com.accidentalfish.log-queue-processor.setting.realtime-settings-table" value="realtimesettings" />
    <add key="com.accidentalfish.alert-sender.storage-account-connection-string" value="UseDevelopmentStorage=true;" />
    <add key="com.accidentalfish.alert-sender.default-table-name" value="alertsubscribers" />
    <add key="com.accidentalfish.alert-sender.setting.alert-from" value="your@email.address" />
    <add key="com.accidentalfish.sendgrid.setting.username" value="username" />
    <add key="com.accidentalfish.sendgrid.setting.password" value="password" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3.0" newVersion="3.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>